a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}

*{margin: 0; padding: 0;}
body{   
    background-color: #F2F2F2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, nav, main, footer{
    display: block;
}

header {
    margin-left: 125px;
}
.logoPic {
    margin-left:-5px;
    margin-top:10px;
    width:80px;
    height:80px;
    contain: 80px;
    background-image: url("../images/logo.png");
    display: inline-block;

}

.logo
{
    /Marging/
    padding-left:125px;
    margin-top: 90px;

    /Branding/
    padding-top: 40px;
    font-weight:188;
    font-size:78px;
    line-height: 60px;
    letter-spacing: -1px;
}

.MainMenu{
    /Marging/
    margin-left:100px;
    padding-top:10px;
    margin-left:125px;
}

.MainMenu a{
    margin-right: 25px;
     /*Branding */
     font-style:normal;
     font-weight:500;
     font-size:14px;
     line-height: 24px;
     letter-spacing:4px;
     text-transform: uppercase;
 
     color: #222222;
     opacity: 0.3;
 
}

.MainMenu a:hover{
    margin-right: 25px;
     /*Branding */
     font-style:normal;
     font-weight:500;
     font-size:14px;
     line-height: 24px;
     letter-spacing:4px;
     text-transform: uppercase;
 
     color: blue;
     opacity: 0.3;
}

.Cover{

    margin-left:125px;
    margin-top:20px;

}
h2{
    margin-left:125px;
    font-size: 40px;
}
   
.CoverToRight{

    padding-left:20px;
    margin-top: 20px;
}


.SeconderyTitle{
    margin-left: 125px;
    color: #222222;

}


h1{
    padding-top: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    margin-left:3px;   
    

}

.AboutMe{
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    margin-left: 125px;
}



.Languages{
    margin-left:125px;
    font-size: 18px;
    line-height: 28px;
}
.Languages h1{
    margin-bottom: 25px;
}

.LangList{
    list-style: none;
    margin-left:-50px;
}

.LangList li{
    padding-bottom: 50px;
}

.langTXT{

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-left: 30px;
    position: absolute;
    padding-top: 16px;
}


.LangList li img{
    height:10px;
    width:10px;
}

#CIcon{
    content: url("../images/c_icon.png");
    margin-left:50px;
    
}

#CPPIcon{
    content: url("../images/c++_icon.png");
    margin-left:50px;
}

#javaIcon{
    content: url("../images/java_icon.png");
    margin-left:50px;
}
.FillerImg{
    position: absolute;
    margin-left:125px;
    margin-top:0px;

}
.fillerImg2{
    position: absolute;
    margin-left:500px;
    margin-top: 100px;
}

footer{
    position: absolute;
    margin-top: 650px;
    width: 1360px;
    height: 240px;
    /* padding-bottom: 43px; */
    background-color: #515151;

}

.FootLinkList{
margin-left: 125px;
/* margin-top:75px; */

}


.FootLinkList a{
    width: 206px;
    height: 40px;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-right: 59px;
}


.GitHubFoot{
    background-color:  #C6B393;
    
    text-align: center;
    margin-top: 16px;

    display: inline-block;

}

.FootLine{
    width: 1108px;
    height: 1px;
    
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    /* box-sizing: border-box; */

    margin-top: 53px;
    margin-left: 125px; 

}

.MoreFootLinks{
    margin-left:120px;
    margin-top:10px;
    margin-right:5px;
}
h3{
    font-size:12px;
    margin-top:50px;
    color:white;
}
